* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Open Sans';
}
header {
    text-align: center;
    margin-bottom: 3rem;
}
h1 {
    font-size: 3rem;
    font-family: 'Audiowide';
}
main {
    display: flex;
    justify-content: center;
}
.grid {
    padding: 2px;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 2px;
    background-color: #D6DFE8;
}
.player-container {
    margin: 0 10px;
}
.computer-container {
    position: relative;
}
.setup {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    text-align: center;
    white-space: pre-line;
}
.square {
    width:100%;
    border: 1px solid #10100F;
    border-radius: 5px;
    background-color: #88C2CE;
}
.computer .square:hover{
    background-color: blue;
}
.player-ship {
    background-color: #626461;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    opacity: 90%;
    visibility: hidden;
}
.ship-info {
    margin: 10px 0;
}
#orientation {
    width: 7rem;
    border: 1px solid black;
    border-radius: 50px;
    font-family: inherit;
    padding: 5px;
}
